@page "/intro"

@layout AuthLayout

@using MentalHealthApp.PWA.Services.Interfaces;
@using MentalHealthApp.PWA.Services.Singleton;

@inject IJSRuntime JSRuntime

@inject NavigationManager NavManager

@inject ICookieAccess CookieAccess
@inject TokenManager TokenManager

<PageTitle>Intro App</PageTitle>

@code {
    protected override void OnInitialized()
    {
        // the user must be logged in
        if (TokenManager.User == null)
        {
            NavManager.NavigateTo("login");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("authPages.setTitle", "Intro App");
            await JSRuntime.InvokeVoidAsync("app.theme.initializeAppTheme", "dark-root");
        }
    }

    private void GoToIntroApp()
    {
        NavManager.NavigateTo("appintro");
    }
}

<div class="container-fluid d-flex align-items-center justify-content-center creds-frm-wrapper">
    <div class="row">
        <div style="padding: 4rem;">
            <p
                style="font-size: 1.2rem!important; font-weight: 100!important; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;">
                <span style="font-size: 1.4rem; font-weight: 700!important;">Welcome to Dr. Parr's <br /> My4Blocks
                    Mental Health App</span></p>
            <p
                style="font-size: 1.2rem!important; font-weight: 100!important; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;">
                Before you jump in to managing <br /> Anger, Anxiety, Depression & Guilt...</p>
            <br /><br />
            <button
                style="border: none!important; outline: none!important; box-shadow: none!important; padding: 8px!important; background: #d752d7!important; color: #fff;"
                class="rounded-3" @onclick="@(() => GoToIntroApp())">
                You must first learn your ABC's! <br /> CLICK HERE TO BEGIN
            </button>
        </div>
    </div>

    <div class="row bg-light" style="max-width: 450px!important; margin-top: 3rem!important; padding: 0px!important;">
        <img src="/assets/images/cropped bar with formulas.png" />
    </div>
</div>