<div
    class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
    <div class="row align-items-center">
        <div class="col-md-8 mb-3 mb-sm-0">
            <h5>
                <a class="text-primary">@Prompt</a>
            </h5>
            <p class="text-sm text-dark text-start">
                @Content
            </p>
            <p class="text-sm text-secondary">
                <span class="op-6">Posted on </span>
                <a class="text-black">@CreatedDateTime?.ToString("dd/mm/yyyy hh:mm tt")</a>
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Prompt { get; set; }
    [Parameter]
    public string? Content { get; set; }
    [Parameter]
    public DateTime? CreatedDateTime { get; set; }
}
