@inherits ContentInterface.BaseClasses.UserInputBase

<style>
    input {
        height: 120px !important;
        text-align: start !important;
        word-break: break-word;
    }
</style>

<div class="row" style="text-align: left!important; width: 100%!important;">
    <h6 style="margin: 0px!important;">Tap To Type</h6>
    <div class="content-body">
        <textarea name="@(DateTime.UtcNow.ToString("dd-mm-yyyy hh:ii tt"))" autocomplete="off" style="width: 100%!important; height: 120px!important; border-radius: 10px!important; border: none!important;
        outline: none!important;" placeholder="@Placeholder" @bind="ValueString" @oninput="InputEmotionLog"
            onblur="@(() => SaveEmotionLog())">@ValueString</textarea>
    </div>
</div>