@using MentalHealthApp.PWA.Services.Singleton
@using MentalHealthApp.PWA.Data.Context.Interfaces
@using MentalHealthApp.PWA.Data.Context.Entities

@inject IVideoContentRepository VideoContentRepository
@inject TokenManager TokenManager

@code {
    private List<UserEmotionLog?>? EmotionLogHistory { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var user = TokenManager.User;
        if (user != null)
        {
            var results = await VideoContentRepository.GetLastUserEmotionLogsPerCategory(user.Id.ToString());
            if (results is not null) EmotionLogHistory = results.ToList();
        }
        StateHasChanged();
    }
}

<nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <h5 class="text-success">Your history</h5>
        <ul class="nav flex-column">
            @if (EmotionLogHistory is not null)
            {
                foreach (var log in EmotionLogHistory)
                {
                    <li class="nav-item">
                        <a class="nav-link active text-secondary fw-bold" aria-current="page"
                            href="@($"history/{log?.VideoCategory.ToString().ToLower()}")" @onclick="StateHasChanged">
                            <i class="fa fa-paperclip m-3"></i>
                            @log?.VideoCategory.ToString() - @TokenManager.GetTimeElapsed(log?.CreatedDateTimeUTC ??
                    DateTime.UtcNow.AddYears(-1200))
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</nav>
